.flows_ola.json.backup
[{"id":"5851869e.d89798","type":"tab","label":"Ola","disabled":false,"info":""},{"id":"e16d98e5.28efb8","type":"tab","label":"system","disabled":false,"info":""},{"id":"10f3a31b.916f2d","type":"subflow","name":"Artnet","info":"# Art-Net encoder/decoder\n\nThis sublow is a bi-directional Art-Net encoder/decoder.\n\n## Receiving\n\nConnect a `udp in` object set to port *6454* to the input of the subflow.  \nThe Art-Net data will be output as `msg.payload` in Buffer form.  \nThe universe is available as `msg.topic`.\n\n## Sending\n\nSend an `Array` or `Buffer` to the Art-Net subflow and connect the sublow's output to a `udp out` object set to port *6454*.\nThe universe must be set as `msg.topic`.","in":[{"x":180,"y":140,"wires":[{"id":"140ce557.4c441b"}]}],"out":[{"x":440,"y":140,"wires":[{"id":"140ce557.4c441b","port":0}]}]},{"id":"bb89a11f.62048","type":"subflow","name":"AcmeStage","info":"","category":"","in":[{"x":240,"y":180,"wires":[{"id":"e0c81a81.f253f8"}]}],"out":[{"x":560,"y":180,"wires":[{"id":"e0c81a81.f253f8","port":0}]}],"env":[{"name":"","type":"bin","value":""}]},{"id":"4a0a2323.ff3dcc","type":"sqlitedb","z":"","db":"/home/pi/scene3.sqlite","mode":"RWC"},{"id":"140ce557.4c441b","type":"function","z":"10f3a31b.916f2d","name":"Artnet","func":"const HEADER_SIZE = 18;\nconst ID = \"Art-Net\\0\";\nconst ArtDmxOpCode = 0x5000;\nconst ProtVer = 14;\ncontext.sequence = context.sequence || 0;\nconst Physical = 0;\n\nvar header = new Buffer(HEADER_SIZE);\nheader.fill(0);\n\nheader.write(ID);\nheader.writeUInt16LE(ArtDmxOpCode, 8);\nheader.writeUInt16BE(ProtVer, 10);\nheader.writeUInt8(Physical, 13);\n\n// Parse incoming Art-Net packets\nif (msg.payload.slice(0, 8).toString() == ID) {\n    var Opcode = msg.payload.readUInt16LE(8);\n    if (Opcode == ArtDmxOpCode) {\n        var Universe = msg.payload.readUInt16LE(14);\n        var Length = msg.payload.readUInt16BE(16);\n        msg.topic = Universe;\n        msg.payload = msg.payload.slice(HEADER_SIZE, Length + HEADER_SIZE);\n        node.send(msg);\n    }\n// Format incoming buffer or array into Art-Net packet\n} else {\n    context.sequence++;\n    header.writeUInt8(context.sequence, 12);\n    if (context.sequence >= 255)\n        context.sequence = 0;\n    \n    var Universe = msg.topic;\n    var Length = msg.payload.length;\n    if (Array.isArray(msg.payload)) {\n        msg.payload = new Buffer(msg.payload);\n    }\n    header.writeUInt16LE(Universe, 14);\n    header.writeUInt16BE(Length, 16);\n    \n    msg.payload = Buffer.concat([header, msg.payload]);\n    node.send(msg);\n}\n\n\n","outputs":1,"noerr":0,"x":310,"y":140,"wires":[[]]},{"id":"b4037bb2.c0fcf8","type":"udp out","z":"5851869e.d89798","name":"","addr":"localhost","iface":"","port":"6454","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":970,"y":60,"wires":[]},{"id":"ff0ababe.0bde28","type":"subflow:10f3a31b.916f2d","z":"5851869e.d89798","name":"","env":[],"x":770,"y":60,"wires":[["b4037bb2.c0fcf8"]]},{"id":"6606a1d8.e9618","type":"function","z":"5851869e.d89798","name":"Init universe","func":"var dmxbuf = new Uint8Array(81);\n\nfor (var i=0;i<dmxbuf.lenght;i++) {\n    dmxbuf[i]=0;\n}\n\nglobal.set(\"dmxbuf\",dmxbuf);\nmsg.payload=dmxbuf;\nmsg.topic=\"dmxbuf\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["130bfbfa.34ad44"]]},{"id":"10202607.0aa82a","type":"inject","z":"5851869e.d89798","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":110,"y":60,"wires":[["6606a1d8.e9618"]]},{"id":"e0c81a81.f253f8","type":"function","z":"bb89a11f.62048","name":"","func":"dmxbuf=global.get(\"dmxbuf\");\n\nvar offset_index=[1,10,19,28,37,46,55,64,73];\n\n\n\n\nvar id=msg.payload[\"id\"];\n\nif ( typeof id !== 'undefined'){\n\n    node.status({fill:\"green\",shape:\"dot\",text:id});\n\n    var offset=offset_index[id-1];\n\n    var pan=msg.payload[\"pan\"];\n    if ( typeof pan !== 'undefined'){\n        dmxbuf[offset+0]=pan;\n    }\n\n    var tilt=msg.payload[\"tilt\"];\n    if ( typeof tilt !== 'undefined'){\n        dmxbuf[offset+1]=tilt;\n    }\n    msg.payload=dmxbuf;\n    global.set(\"dmxbuf\",dmxbuf);\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":400,"y":180,"wires":[[]]},{"id":"155e992b.fa7187","type":"inject","z":"5851869e.d89798","name":"Rest 0","topic":"5","payload":"{\"rest\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":940,"wires":[["ced1eac6.8b1708"]]},{"id":"7ed06a6.aec9a94","type":"function","z":"5851869e.d89798","name":"json/9ch","func":"dmxbuf=global.get(\"dmxbuf\");\n\nvar offset_index=[1,10,19,28,37,46,55,64,73];\n\nvar id=msg.topic;\n\nif ( typeof id !== 'undefined'){\n    var offset=offset_index[id-1]-1;\n    node.status({fill:\"green\",shape:\"dot\",text:\"offset=\" + offset}); \n\n    var pan=msg.payload[\"pan\"];\n    if ( typeof pan !== 'undefined'){\n        dmxbuf[offset+0]=pan;\n    }\n\n    var tilt=msg.payload[\"tilt\"];\n    if ( typeof tilt !== 'undefined'){\n        dmxbuf[offset+1]=tilt;\n    }\n\n    var brightness=msg.payload[\"brightness\"];\n    if ( typeof brightness !== 'undefined'){\n        dmxbuf[offset+2]=brightness;\n    }\n\n    var red=msg.payload[\"red\"];\n    if ( typeof red !== 'undefined'){\n        dmxbuf[offset+3]=red;\n    }\n\n    var green=msg.payload[\"green\"];\n    if ( typeof green !== 'undefined'){\n        dmxbuf[offset+4]=green;\n    }\n\n    var blue=msg.payload[\"blue\"];\n    if ( typeof blue !== 'undefined'){\n        dmxbuf[offset+5]=blue;\n    }\n\n    var white=msg.payload[\"white\"];\n    if ( typeof white !== 'undefined'){\n        dmxbuf[offset+6]=white;\n    }\n\n    var speed=msg.payload[\"speed\"];\n    if ( typeof speed !== 'undefined'){\n        dmxbuf[offset+7]=speed;\n    }\n\n    var rest=msg.payload[\"rest\"];\n    if ( typeof rest !== 'undefined'){\n        dmxbuf[offset+8]=rest;\n    }\n\n    //node.status({fill:\"grey\",shape:\"dot\",text:\"id=\" + id}); \n    msg.payload=dmxbuf;\n    global.set(\"dmxbuf\",dmxbuf);\n    msg.topic=0;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":640,"y":920,"wires":[[]]},{"id":"7bfa4517.a36d5c","type":"link in","z":"5851869e.d89798","name":"","links":["38ed20e3.c68a4","56593c8.e4639c4","ced1eac6.8b1708"],"x":455,"y":980,"wires":[["7ed06a6.aec9a94","a540d426.e011e8","90d5c977.319f28"]]},{"id":"20db6e5e.9f3e42","type":"function","z":"5851869e.d89798","name":"Brightness","func":"if ( typeof  msg.payload[\"brightness\"] !== 'undefined') {\n    node.status({fill:\"grey\",shape:\"dot\",text:msg.payload[\"brightness\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":980,"wires":[["c7513abb.6cdeb8"]]},{"id":"90d5c977.319f28","type":"function","z":"5851869e.d89798","name":"Red","func":"if ( typeof  msg.payload[\"red\"] !== 'undefined') {\n    node.status({fill:\"red\",shape:\"dot\",text:msg.payload[\"red\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1040,"wires":[["53a0c947.e28a38"]]},{"id":"53a0c947.e28a38","type":"function","z":"5851869e.d89798","name":"Green","func":"if ( typeof  msg.payload[\"green\"] !== 'undefined') {\n    node.status({fill:\"green\",shape:\"dot\",text:msg.payload[\"green\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1040,"wires":[["7d32f528.cf5a5c"]]},{"id":"7d32f528.cf5a5c","type":"function","z":"5851869e.d89798","name":"Blue","func":"if ( typeof  msg.payload[\"blue\"] !== 'undefined') {\n    node.status({fill:\"blue\",shape:\"dot\",text:msg.payload[\"blue\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1040,"wires":[["ab660514.3c1338"]]},{"id":"ab660514.3c1338","type":"function","z":"5851869e.d89798","name":"White","func":"if ( typeof  msg.payload[\"white\"] !== 'undefined') {\n    node.status({fill:\"white\",shape:\"dot\",text:msg.payload[\"white\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1040,"wires":[[]]},{"id":"c7513abb.6cdeb8","type":"function","z":"5851869e.d89798","name":"Speed","func":"if ( typeof  msg.payload[\"speed\"] !== 'undefined') {\n    node.status({fill:\"grey\",shape:\"dot\",text:msg.payload[\"speed\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":980,"wires":[["6779d168.716d5"]]},{"id":"a540d426.e011e8","type":"function","z":"5851869e.d89798","name":"Pan","func":"if ( typeof  msg.payload[\"pan\"] !== 'undefined') {\n    node.status({fill:\"grey\",shape:\"dot\",text:msg.payload[\"pan\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":980,"wires":[["e771e4f4.bca898"]]},{"id":"e771e4f4.bca898","type":"function","z":"5851869e.d89798","name":"Tilt","func":"if ( typeof  msg.payload[\"tilt\"] !== 'undefined') {\n    node.status({fill:\"grey\",shape:\"dot\",text:msg.payload[\"tilt\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":980,"wires":[["20db6e5e.9f3e42"]]},{"id":"f8acfb32.71d58","type":"inject","z":"e16d98e5.28efb8","name":"","topic":"","payload":"sudo halt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":120,"wires":[["b54c1845.a5a15"]]},{"id":"b54c1845.a5a15","type":"exec","z":"e16d98e5.28efb8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":140,"wires":[[],[],[]]},{"id":"96145899.691a78","type":"function","z":"5851869e.d89798","name":"CheckButton","func":"var dmxbuf;\nvar sql;\n\nif (msg.topic===\"dmxbuf\") {\n    var obj=msg.payload;\n    dmxbuf=Array.from(Object.keys(obj), k=>obj[k]);\n    global.set(\"dmxbuf\",dmxbuf);\n    msg.payload=dmxbuf;\n    return[msg,null,null,null];\n}\n\nif (msg.topic===\"save\") {\n    dmxbuf = global.get(\"dmxbuf\");\n    sql = {\n     \"topic\": \"DELETE FROM SCENE WHERE slot='\" + msg.slot +  \"';\"\n    }\n    node.send([null,sql,null,null]);\n    \n    sql = {\n     \"topic\": \"INSERT INTO SCENE(slotset,slot,name,dmxbuf) VALUES ('1', '\" + msg.slot +  \"','\" + msg.name + \"','\" + dmxbuf +  \"');\"\n    }\n    return[null,sql,null,null];\n} \n\nif (msg.topic===\"load\") {\n    sql = {\n     \"topic\": \"SELECT dmxbuf FROM SCENE WHERE name='\" + msg.payload + \"' order by id desc limit 1;\"\n    }\n    msg=sql;\n    return[null,null,msg,null];\n} \n\nif (msg.topic===\"init\") {\n    msg.payload=\"init\";\n    return[null,null,null,msg];\n} \n\n\nreturn [null,null,null,null];","outputs":4,"noerr":0,"x":590,"y":220,"wires":[["ff0ababe.0bde28"],["21a6170a.19e078"],["1c77aaf5.3020e5"],["33e41048.87121"]]},{"id":"40c00187.3593","type":"inject","z":"e16d98e5.28efb8","name":"sudo systemctl restart nodered","topic":"","payload":"sudo systemctl restart nodered","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":160,"wires":[["b54c1845.a5a15"]]},{"id":"ced1eac6.8b1708","type":"link out","z":"5851869e.d89798","name":"","links":["7bfa4517.a36d5c"],"x":375,"y":980,"wires":[]},{"id":"130bfbfa.34ad44","type":"uibuilder","z":"5851869e.d89798","name":"","topic":"","url":"surface","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"template":"","filename":"index.html","format":"text","x":420,"y":220,"wires":[["96145899.691a78"],[]]},{"id":"6779d168.716d5","type":"function","z":"5851869e.d89798","name":"Rest","func":"if ( typeof  msg.payload[\"rest\"] !== 'undefined') {\n    node.status({fill:\"grey\",shape:\"dot\",text:msg.payload[\"rest\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":980,"wires":[[]]},{"id":"82ffbecf.3e029","type":"inject","z":"5851869e.d89798","name":"Rest 255","topic":"5","payload":"{\"rest\":255}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":980,"wires":[["ced1eac6.8b1708"]]},{"id":"b1121320.36d01","type":"inject","z":"5851869e.d89798","name":"Send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["6035363b.3717f8"]]},{"id":"6035363b.3717f8","type":"function","z":"5851869e.d89798","name":"","func":"var dmxbuf=global.get(\"dmxbuf\");\n\ndmxbuf[0]=0;\ndmxbuf[1]=1;\ndmxbuf[2]=2;\ndmxbuf[78]=78;\ndmxbuf[79]=79;\ndmxbuf[80]=80;\nmsg.payload=dmxbuf;\nmsg.topic=\"dmxbuf\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":220,"wires":[["130bfbfa.34ad44"]]},{"id":"8ecd245f.069878","type":"inject","z":"5851869e.d89798","name":"Create","topic":"CREATE TABLE SCENE(id INTEGER PRIMARY KEY AUTOINCREMENT, slotset INTEGER, slot INTEGER, name TEXT, dmxbuf BLOB)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":300,"wires":[["21a6170a.19e078"]]},{"id":"21a6170a.19e078","type":"sqlite","z":"5851869e.d89798","mydb":"4a0a2323.ff3dcc","sqlquery":"msg.topic","sql":"","name":"","x":880,"y":240,"wires":[[]]},{"id":"37baff73.200f2","type":"inject","z":"5851869e.d89798","name":"Delete All","topic":"DELETE FROM scene;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":340,"wires":[["21a6170a.19e078"]]},{"id":"1c77aaf5.3020e5","type":"sqlite","z":"5851869e.d89798","mydb":"4a0a2323.ff3dcc","sqlquery":"msg.topic","sql":"","name":"","x":880,"y":360,"wires":[["8f86fc9e.ceb05"]]},{"id":"8f86fc9e.ceb05","type":"function","z":"5851869e.d89798","name":"","func":"if (msg.payload===null) {\n    return null;\n}\n\nvar obj=msg.payload[0][\"dmxbuf\"];\nvar dmxbuf=obj.split(\",\");\n//dmxbuf=Array.from(Object.keys(obj), k=>obj[k]);\nglobal.set(\"dmxbuf\",dmxbuf);\nmsg.payload=dmxbuf;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":420,"wires":[["6e8a15fc.b9c85c","c00b5a5.5c52aa8"]]},{"id":"c278491f.24ad08","type":"link in","z":"5851869e.d89798","name":"","links":["6e8a15fc.b9c85c"],"x":635,"y":60,"wires":[["ff0ababe.0bde28"]]},{"id":"6e8a15fc.b9c85c","type":"link out","z":"5851869e.d89798","name":"","links":["c278491f.24ad08"],"x":1180,"y":380,"wires":[]},{"id":"61ebb44b.09541c","type":"link in","z":"5851869e.d89798","name":"","links":["c00b5a5.5c52aa8","8688f046.274e7"],"x":295,"y":300,"wires":[["130bfbfa.34ad44"]]},{"id":"c00b5a5.5c52aa8","type":"link out","z":"5851869e.d89798","name":"","links":["61ebb44b.09541c"],"x":1180,"y":460,"wires":[]},{"id":"a9b68a4d.585998","type":"inject","z":"5851869e.d89798","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":690,"y":540,"wires":[["33e41048.87121"]]},{"id":"85dae97d.b08a48","type":"sqlite","z":"5851869e.d89798","mydb":"4a0a2323.ff3dcc","sqlquery":"msg.topic","sql":"","name":"","x":960,"y":600,"wires":[["cbeff1b4.bff7"]]},{"id":"cbeff1b4.bff7","type":"function","z":"5851869e.d89798","name":"","func":"msg.topic=\"slot\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":600,"wires":[["8688f046.274e7"]]},{"id":"8688f046.274e7","type":"link out","z":"5851869e.d89798","name":"","links":["61ebb44b.09541c"],"x":1320,"y":540,"wires":[]},{"id":"33e41048.87121","type":"function","z":"5851869e.d89798","name":"","func":"msg.topic=\"select id,slot,name from scene order by slot asc;\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":520,"wires":[["85dae97d.b08a48"]]}]