flows_ola.json
[{"id":"5851869e.d89798","type":"tab","label":"Ola","disabled":false,"info":""},{"id":"e16d98e5.28efb8","type":"tab","label":"system","disabled":false,"info":""},{"id":"10f3a31b.916f2d","type":"subflow","name":"Artnet","info":"# Art-Net encoder/decoder\n\nThis sublow is a bi-directional Art-Net encoder/decoder.\n\n## Receiving\n\nConnect a `udp in` object set to port *6454* to the input of the subflow.  \nThe Art-Net data will be output as `msg.payload` in Buffer form.  \nThe universe is available as `msg.topic`.\n\n## Sending\n\nSend an `Array` or `Buffer` to the Art-Net subflow and connect the sublow's output to a `udp out` object set to port *6454*.\nThe universe must be set as `msg.topic`.","in":[{"x":180,"y":140,"wires":[{"id":"140ce557.4c441b"}]}],"out":[{"x":440,"y":140,"wires":[{"id":"140ce557.4c441b","port":0}]}]},{"id":"bb89a11f.62048","type":"subflow","name":"AcmeStage","info":"","category":"","in":[{"x":240,"y":180,"wires":[{"id":"e0c81a81.f253f8"}]}],"out":[{"x":560,"y":180,"wires":[{"id":"e0c81a81.f253f8","port":0}]}],"env":[{"name":"","type":"bin","value":""}]},{"id":"4a0a2323.ff3dcc","type":"sqlitedb","z":"","db":"/home/pi/scene2.sqlite","mode":"RWC"},{"id":"140ce557.4c441b","type":"function","z":"10f3a31b.916f2d","name":"Artnet","func":"const HEADER_SIZE = 18;\nconst ID = \"Art-Net\\0\";\nconst ArtDmxOpCode = 0x5000;\nconst ProtVer = 14;\ncontext.sequence = context.sequence || 0;\nconst Physical = 0;\n\nvar header = new Buffer(HEADER_SIZE);\nheader.fill(0);\n\nheader.write(ID);\nheader.writeUInt16LE(ArtDmxOpCode, 8);\nheader.writeUInt16BE(ProtVer, 10);\nheader.writeUInt8(Physical, 13);\n\n// Parse incoming Art-Net packets\nif (msg.payload.slice(0, 8).toString() == ID) {\n    var Opcode = msg.payload.readUInt16LE(8);\n    if (Opcode == ArtDmxOpCode) {\n        var Universe = msg.payload.readUInt16LE(14);\n        var Length = msg.payload.readUInt16BE(16);\n        msg.topic = Universe;\n        msg.payload = msg.payload.slice(HEADER_SIZE, Length + HEADER_SIZE);\n        node.send(msg);\n    }\n// Format incoming buffer or array into Art-Net packet\n} else {\n    context.sequence++;\n    header.writeUInt8(context.sequence, 12);\n    if (context.sequence >= 255)\n        context.sequence = 0;\n    \n    var Universe = msg.topic;\n    var Length = msg.payload.length;\n    if (Array.isArray(msg.payload)) {\n        msg.payload = new Buffer(msg.payload);\n    }\n    header.writeUInt16LE(Universe, 14);\n    header.writeUInt16BE(Length, 16);\n    \n    msg.payload = Buffer.concat([header, msg.payload]);\n    node.send(msg);\n}\n\n\n","outputs":1,"noerr":0,"x":310,"y":140,"wires":[[]]},{"id":"b4037bb2.c0fcf8","type":"udp out","z":"5851869e.d89798","name":"","addr":"localhost","iface":"","port":"6454","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1010,"y":240,"wires":[]},{"id":"ff0ababe.0bde28","type":"subflow:10f3a31b.916f2d","z":"5851869e.d89798","name":"","env":[],"x":850,"y":240,"wires":[["b4037bb2.c0fcf8"]]},{"id":"6606a1d8.e9618","type":"function","z":"5851869e.d89798","name":"Init universe","func":"var binary_buffer = new Uint8Array(81);\n\nglobal.set(\"string_buffer\",binary_buffer.toString());\nmsg.payload=binary_buffer.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[[]]},{"id":"10202607.0aa82a","type":"inject","z":"5851869e.d89798","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":110,"y":240,"wires":[["6606a1d8.e9618"]]},{"id":"8af0d26e.8ce98","type":"function","z":"5851869e.d89798","name":"string2binary","func":"//dmxbuf=global.get(\"dmxbuf\");\nvar binary_buffer = new Uint8Array(81);\nvar i=0;\n\nfor (var key in msg.payload) {\n    binary_buffer[i]=msg.payload[i];\n    i++;\n}\n\nmsg.payload=binary_buffer;\n//dmxbuf=global.set(\"dmxbuf\",dmxbuf);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":240,"wires":[["ff0ababe.0bde28"]]},{"id":"e0c81a81.f253f8","type":"function","z":"bb89a11f.62048","name":"","func":"dmxbuf=global.get(\"dmxbuf\");\n\nvar offset_index=[1,10,19,28,37,46,55,64,73];\n\n\n\n\nvar id=msg.payload[\"id\"];\n\nif ( typeof id !== 'undefined'){\n\n    node.status({fill:\"green\",shape:\"dot\",text:id});\n\n    var offset=offset_index[id-1];\n\n    var pan=msg.payload[\"pan\"];\n    if ( typeof pan !== 'undefined'){\n        dmxbuf[offset+0]=pan;\n    }\n\n    var tilt=msg.payload[\"tilt\"];\n    if ( typeof tilt !== 'undefined'){\n        dmxbuf[offset+1]=tilt;\n    }\n    msg.payload=dmxbuf;\n    global.set(\"dmxbuf\",dmxbuf);\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":400,"y":180,"wires":[[]]},{"id":"155e992b.fa7187","type":"inject","z":"5851869e.d89798","name":"Rest 0","topic":"5","payload":"{\"rest\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":940,"wires":[["ced1eac6.8b1708"]]},{"id":"7ed06a6.aec9a94","type":"function","z":"5851869e.d89798","name":"json/9ch","func":"dmxbuf=global.get(\"dmxbuf\");\n\nvar offset_index=[1,10,19,28,37,46,55,64,73];\n\nvar id=msg.topic;\n\nif ( typeof id !== 'undefined'){\n    var offset=offset_index[id-1]-1;\n    node.status({fill:\"green\",shape:\"dot\",text:\"offset=\" + offset}); \n\n    var pan=msg.payload[\"pan\"];\n    if ( typeof pan !== 'undefined'){\n        dmxbuf[offset+0]=pan;\n    }\n\n    var tilt=msg.payload[\"tilt\"];\n    if ( typeof tilt !== 'undefined'){\n        dmxbuf[offset+1]=tilt;\n    }\n\n    var brightness=msg.payload[\"brightness\"];\n    if ( typeof brightness !== 'undefined'){\n        dmxbuf[offset+2]=brightness;\n    }\n\n    var red=msg.payload[\"red\"];\n    if ( typeof red !== 'undefined'){\n        dmxbuf[offset+3]=red;\n    }\n\n    var green=msg.payload[\"green\"];\n    if ( typeof green !== 'undefined'){\n        dmxbuf[offset+4]=green;\n    }\n\n    var blue=msg.payload[\"blue\"];\n    if ( typeof blue !== 'undefined'){\n        dmxbuf[offset+5]=blue;\n    }\n\n    var white=msg.payload[\"white\"];\n    if ( typeof white !== 'undefined'){\n        dmxbuf[offset+6]=white;\n    }\n\n    var speed=msg.payload[\"speed\"];\n    if ( typeof speed !== 'undefined'){\n        dmxbuf[offset+7]=speed;\n    }\n\n    var rest=msg.payload[\"rest\"];\n    if ( typeof rest !== 'undefined'){\n        dmxbuf[offset+8]=rest;\n    }\n\n    //node.status({fill:\"grey\",shape:\"dot\",text:\"id=\" + id}); \n    msg.payload=dmxbuf;\n    global.set(\"dmxbuf\",dmxbuf);\n    msg.topic=0;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":640,"y":920,"wires":[[]]},{"id":"7bfa4517.a36d5c","type":"link in","z":"5851869e.d89798","name":"","links":["38ed20e3.c68a4","56593c8.e4639c4","ced1eac6.8b1708"],"x":455,"y":980,"wires":[["7ed06a6.aec9a94","a540d426.e011e8","90d5c977.319f28"]]},{"id":"20db6e5e.9f3e42","type":"function","z":"5851869e.d89798","name":"Brightness","func":"if ( typeof  msg.payload[\"brightness\"] !== 'undefined') {\n    node.status({fill:\"grey\",shape:\"dot\",text:msg.payload[\"brightness\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":980,"wires":[["c7513abb.6cdeb8"]]},{"id":"90d5c977.319f28","type":"function","z":"5851869e.d89798","name":"Red","func":"if ( typeof  msg.payload[\"red\"] !== 'undefined') {\n    node.status({fill:\"red\",shape:\"dot\",text:msg.payload[\"red\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1040,"wires":[["53a0c947.e28a38"]]},{"id":"53a0c947.e28a38","type":"function","z":"5851869e.d89798","name":"Green","func":"if ( typeof  msg.payload[\"green\"] !== 'undefined') {\n    node.status({fill:\"green\",shape:\"dot\",text:msg.payload[\"green\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1040,"wires":[["7d32f528.cf5a5c"]]},{"id":"7d32f528.cf5a5c","type":"function","z":"5851869e.d89798","name":"Blue","func":"if ( typeof  msg.payload[\"blue\"] !== 'undefined') {\n    node.status({fill:\"blue\",shape:\"dot\",text:msg.payload[\"blue\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1040,"wires":[["ab660514.3c1338"]]},{"id":"ab660514.3c1338","type":"function","z":"5851869e.d89798","name":"White","func":"if ( typeof  msg.payload[\"white\"] !== 'undefined') {\n    node.status({fill:\"white\",shape:\"dot\",text:msg.payload[\"white\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1040,"wires":[[]]},{"id":"c7513abb.6cdeb8","type":"function","z":"5851869e.d89798","name":"Speed","func":"if ( typeof  msg.payload[\"speed\"] !== 'undefined') {\n    node.status({fill:\"grey\",shape:\"dot\",text:msg.payload[\"speed\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":980,"wires":[["6779d168.716d5"]]},{"id":"a540d426.e011e8","type":"function","z":"5851869e.d89798","name":"Pan","func":"if ( typeof  msg.payload[\"pan\"] !== 'undefined') {\n    node.status({fill:\"grey\",shape:\"dot\",text:msg.payload[\"pan\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":980,"wires":[["e771e4f4.bca898"]]},{"id":"e771e4f4.bca898","type":"function","z":"5851869e.d89798","name":"Tilt","func":"if ( typeof  msg.payload[\"tilt\"] !== 'undefined') {\n    node.status({fill:\"grey\",shape:\"dot\",text:msg.payload[\"tilt\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":980,"wires":[["20db6e5e.9f3e42"]]},{"id":"f8acfb32.71d58","type":"inject","z":"e16d98e5.28efb8","name":"","topic":"","payload":"sudo halt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":120,"wires":[["b54c1845.a5a15"]]},{"id":"b54c1845.a5a15","type":"exec","z":"e16d98e5.28efb8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":140,"wires":[[],[],[]]},{"id":"96145899.691a78","type":"function","z":"5851869e.d89798","name":"CheckTopic","func":"if (msg.topic===\"save\") {\n    return[msg,null];\n} \n\nif (msg.topic===\"dmxbuf\") {\n    return[null,msg];\n} \n\nreturn [null,null];","outputs":2,"noerr":0,"x":830,"y":120,"wires":[[],["24201973.28d906"]]},{"id":"40c00187.3593","type":"inject","z":"e16d98e5.28efb8","name":"sudo systemctl restart nodered","topic":"","payload":"sudo systemctl restart nodered","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":160,"wires":[["b54c1845.a5a15"]]},{"id":"ced1eac6.8b1708","type":"link out","z":"5851869e.d89798","name":"","links":["7bfa4517.a36d5c"],"x":375,"y":980,"wires":[]},{"id":"130bfbfa.34ad44","type":"uibuilder","z":"5851869e.d89798","name":"","topic":"","url":"surface","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"template":"","filename":"index.html","format":"text","x":640,"y":100,"wires":[["96145899.691a78"],[]]},{"id":"6779d168.716d5","type":"function","z":"5851869e.d89798","name":"Rest","func":"if ( typeof  msg.payload[\"rest\"] !== 'undefined') {\n    node.status({fill:\"grey\",shape:\"dot\",text:msg.payload[\"rest\"]});   \n}\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":980,"wires":[[]]},{"id":"82ffbecf.3e029","type":"inject","z":"5851869e.d89798","name":"Rest 255","topic":"5","payload":"{\"rest\":255}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":980,"wires":[["ced1eac6.8b1708"]]},{"id":"b1121320.36d01","type":"inject","z":"5851869e.d89798","name":"Send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":100,"wires":[["6035363b.3717f8"]]},{"id":"6035363b.3717f8","type":"function","z":"5851869e.d89798","name":"","func":"var dmxbuf=global.get(\"dmxbuf\");\ndmxbuf[1]=11;\nmsg.payload=dmxbuf.toString();\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["130bfbfa.34ad44"]]},{"id":"80f917af.d3b1b8","type":"sqlite","z":"5851869e.d89798","mydb":"4a0a2323.ff3dcc","sqlquery":"msg.topic","sql":"","name":"","x":580,"y":620,"wires":[["517be9ac.177908"]]},{"id":"8ecd245f.069878","type":"inject","z":"5851869e.d89798","name":"Create","topic":"CREATE TABLE SCENE(nome TEXT, universo BLOB)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":540,"wires":[["80f917af.d3b1b8"]]},{"id":"6af1fcf8.f35684","type":"inject","z":"5851869e.d89798","name":"Exec","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":600,"wires":[["d4a5ee23.a0d06"]]},{"id":"d4a5ee23.a0d06","type":"function","z":"5851869e.d89798","name":"INSERT","func":"string_buffer=global.get(\"string_buffer\");\n\nvar sql = {\n \"topic\": \"INSERT INTO SCENE(nome,universo) VALUES ('SET001','\" + string_buffer +  \"');\"\n}\n\nreturn sql;","outputs":1,"noerr":0,"x":320,"y":600,"wires":[["80f917af.d3b1b8"]]},{"id":"517be9ac.177908","type":"debug","z":"5851869e.d89798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":620,"wires":[]},{"id":"4a0021af.c3069","type":"inject","z":"5851869e.d89798","name":"Select","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["e2e88ba7.84f4d8"]]},{"id":"e2e88ba7.84f4d8","type":"function","z":"5851869e.d89798","name":"SELECT","func":"var sql = {\n \"topic\": \"SELECT * FROM scene WHERE nome='SET004';\"\n}\n\nreturn sql;","outputs":1,"noerr":0,"x":240,"y":340,"wires":[["21a6170a.19e078"]]},{"id":"c7da44f5.2235c8","type":"inject","z":"5851869e.d89798","name":"Exec","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":640,"wires":[["da12f7f8.5096b8"]]},{"id":"da12f7f8.5096b8","type":"function","z":"5851869e.d89798","name":"INSERT","func":"string_buffer=global.get(\"string_buffer\");\n\nvar sql = {\n \"topic\": \"INSERT INTO SCENE(nome,universo) VALUES ('SET002','\" + string_buffer +  \"');\"\n}\n\nreturn sql;","outputs":1,"noerr":0,"x":320,"y":640,"wires":[["80f917af.d3b1b8"]]},{"id":"24201973.28d906","type":"function","z":"5851869e.d89798","name":"Set Global","func":"global.set(\"string_buffer\",msg.payload.toString());\nreturn msg;\n","outputs":2,"noerr":0,"x":1030,"y":160,"wires":[[],[]]},{"id":"21a6170a.19e078","type":"sqlite","z":"5851869e.d89798","mydb":"4a0a2323.ff3dcc","sqlquery":"msg.topic","sql":"","name":"","x":420,"y":340,"wires":[["a7d04f6f.65f1e"]]},{"id":"a7d04f6f.65f1e","type":"debug","z":"5851869e.d89798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":340,"wires":[]}]